.animation_div {
    width: 400px;
    height: 400px;
    float: left;
    background-color: #eee;
    margin: 10px;
    position: relative;
}

body .animation_div:nth-child(1) div {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fad;
    transition: all 1s;
    position: absolute;
    left: 0;
    top: 0;
}